version: "3.8"

services:
  email_subscription_db:
    image: mysql:5.7
    restart: always
    env_file: ./.env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - 3306:3306
    volumes:
      - "./emails/init.sql:/docker-entrypoint-initdb.d/1.sql"
      - db-data:/var/lib/mysql
  gateway:
    build:
      context: .
      dockerfile: ./gateway/Dockerfile
    image: gateway
    ports:
      - 8000:8000
    stdin_open: true
    tty: true
  emails:
    build:
      context: .
      dockerfile: ./emails/Dockerfile
    image: emails-service
    env_file: ./.env
    ports:
      - 50051:50051
    depends_on:
      - email_subscription_db
    stdin_open: true
    tty: true
  tasks_db:
    image: mongo:5.0
    env_file: ./.env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - 27017:27017
    volumes:
      - mongodb_tasks:/data/db
      - ./tasks/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
  tasks:
    build:
      context: .
      dockerfile: ./tasks/Dockerfile
    image: tasks-service
    env_file: ./.env
    environment:
      MONGO_STRING: mongodb://root:pass@tasks_db:27017
    depends_on:
      - tasks_db
  lists_db:
    image: mongo:5.0
    env_file: ./.env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - 28015:27017
    volumes:
      - mongodb_lists:/data/db
      - ./lists/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
  lists:
    build:
      context: .
      dockerfile: ./lists/Dockerfile
    image: lists-service
    env_file: ./.env
    environment:
      MONGO_STRING: mongodb://root:pass@lists_db:27017
    depends_on:
      - lists_db

volumes:
  db-data:
  mongodb_tasks:
  mongodb_lists:
